<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div id="bldg_img">
        <div class="container">
            <img src="/assets/images/bldg.png">
        </div>
    </div>
    <div id="signupbtn">
        <div class="container">
            <h1>re<span>Q</span></h1>
            <h2>Real Estate Investing Information<br>That Matters to You.</h2>
            <p>Limited to San Francisco Bay Area - Join our BETA</p>
            <div class="signupbtn">
                <a routerLink="/sign-up" routerLinkActive="active">Sign up with LinkedIn</a>
                <p>SIGN IN</p>
            </div>
        </div>
    </div>
</body>
</html>
